/*
  Author: Francis Keith Mangornong
  CS 1520 Web Programming Languages
  Spring 2017

  Assignment 2 -- Style sheet
*/

html {
  background-image: url(http://i.stack.imgur.com/jGlzr.png)
}

body {

}

footer {
  /* Really hacky way to force the footer to be at the "bottom" of the page */
  position: fixed;
  bottom: 0;
}

footer nav ul {
  /*forcing the list to be to the left*/
  padding-left: 0;
}

footer nav ul li {
  display: inline-block;
  width: 36%;
  text-align: center;
}

form legend {
  font-weight: bold;
  font-size: 24px;
}
